<ion-view view-title="设置">
  <ion-content >
 


      <div class="list">
		<ion-toggle  ng-model="settings.enableFriends">个人信息</ion-toggle>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-email"></i>
          绑定邮箱
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-chatbubble-working"></i>
          绑定手机
          <i class="icon ion-ios-telephone-outline"></i>
        </a>

        
        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
          我的好友
          <span class="badge badge-assertive">0</span>
        </a>

        <div class="item item-divider">
          其他设置
        </div>

  
        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-bag"></i>
          商店
          <i class="icon ion-arrow-right-c"></i>
        </a>

      </div>


    
 
  </ion-content>
</ion-view>