<ion-view view-title="我">
  <ion-content>
    <div class="ac-top">
      <div class="wodeSet">
        <a nav-direction="forward" href="#/setting" >
          <img src="images/setting.png"></a>
      </div>
      <div class="user-area">
        <div class="user-head">
          <div class="head-img"></div>
        </div>

        <p class="user-name">╮ J.</p>
      </div>

      <div class="wodeInfo">
        <div class="row">
          <div class="col wodeBtn">
            <p>8</p>
            <p>玩币</p>
          </div>
          <div class="col wodeBtn">
            <p>LV1</p>
            <p>等级</p>
          </div>
          <div class="col wodeBtn">
            <p>32</p>
            <p>战斗力</p>
          </div>
        </div>

      </div>
    </div>

    <div class="ac-center">
      <div class="row">
        <div class="col link" ng-click="myFavorite()">
          <img src="images/icon-shoucang.png">
          <p>我的收藏</p>
        </div>
        <div class="col link" ng-click="myFavorite()">
          <img src="images/icon-youxi.png">
          <p>我的游戏</p>
        </div>
        <div class="col link" ng-click="myFavorite()">
          <img src="images/icon-tiaozhan.png">
          <p>我的挑战</p>
        </div>
      </div>
      <div class="row">
        <div class="col link" ng-click="myFavorite()">
          <img src="images/icon-wanyou.png">
          <p>我的玩友</p>
        </div>
        <div class="col link" ng-click="myFavorite()">
          <img src="images/icon-xiaoxi.png">
          <p>我的消息</p>
        </div>
        <div class="col link" ng-click="myFavorite()">
          <img src="images/icon-paiming.png">
          <p>我的排名</p>
        </div>
      </div>

    </div>

    
</ion-content>
</ion-view>